@inherits ToSic.Sxc.Dnn.RazorComponent

<link rel="stylesheet" href="@App.Path/dist/styles.min.css" data-enableoptimizations="false">

<div class="hotspots" @Edit.TagToolbar(Content)>
    @foreach (var hotspot in Content.Hotspots) {
        <div class="hotspot" style="top: @hotspot.Y%; left: @hotspot.X%;">
            <div class="hotspot-border"></div>
            <img src="@App.Path/images/star.svg" alt="@hotspot.Title">
        </div>
    }
    @* <div class="hotspot" style="top: 11%; left: 18%;"></div> *@
    <img src="@Content.Image" class="hotspot-image">
</div>

<script src="@App.Path/dist/scripts.min.js" data-enableoptimizations="false"></script>