@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@using DotNetNuke.Framework.JavaScriptLibraries;
@{
    var helpers = CreateInstance("_Helpers.cshtml");
    JavaScript.RequestRegistration(CommonJs.jQuery);
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" data-enableoptimizations="false" />
<link rel="stylesheet" href="@App.Path/dist/styles.min.css" data-enableoptimizations="false">

<div class="hotspots" @helpers.HotspotsAttr(Dnn.Module.ModuleID, Content) @Edit.TagToolbar(Content)>
    @foreach (var hotspot in Content.Hotspots) {
        <div class="hotspot" @helpers.HotspotDataAndStyle(hotspot, Content)>
            <div class="hotspot-border"></div>
            <img src="@App.Path/images/star.svg" alt="@hotspot.Title">
        </div>
    }
    <img src="@Content.Image" class="hotspot-image">
</div>

@foreach (var hotspot in Content.Hotspots) {
    <div id="hotspot-content-@hotspot.EntityId" class="sc-element" style="display: none">
        @Edit.Toolbar(hotspot, toolbar: new[] { "%delete&show=true" } )
        @if(Text.Has(hotspot.Image)) {
            <img src="@hotspot.Image?w=900&h=300&quality=80&mode=crop" alt="@hotspot.Title">
        }
        <div class="fancybox-copy">
            @Html.Raw(hotspot.Description)
        </div>
    </div>
}

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js" data-enableoptimizations="false"></script>
<script src="@App.Path/dist/scripts.min.js" data-enableoptimizations="false"></script>